/* Centers text on home page */
#commentCenter {
  text-align: center;
  position: absolute;
  left: 10%;
  right: 10%;
  /*transform: translateX(20%);*/
  padding-bottom: 40px;
}

.commentHeader {
  color:darkturquoise; 
  font-size:35px;
}

.commentList {
  padding-left: 15px;
  font-size: 15px;
}

.commentName {
  padding-left: 15px;
  font-size: 18px;
}

.hrLine {
  border-top: 1px solid paleturquoise;
}

.commentBox {
  padding-top: 20px; 
  padding-bottom: 20px; 
  background-color: rgb(226, 255, 255);
  border-radius: 8px;
  overflow: auto;
}

.commentBoxLabel {
  padding-top: 20px; 
  padding-bottom: 10px; 
  font-size: 15px;
}

.commentInputBox {
  padding-top: 20px; 
  padding-bottom: 20px; 
  background-color: rgb(233, 233, 233);
  border-radius: 8px;
}

.numberSelection {
  width: 80px; 
  height: 40px; 
  border: none; 
  background-color: white; 
  border-radius: 4px
}

.input {
  width: 75%;
}