/* Styling for image on About Me page */
#selfImage {
  max-width: 30%;
  min-width: 15%;
  height: auto;
  float: left; 
  margin-right: 10px; 
  margin-bottom: 10px;
  padding-right: 10%;
  padding-left:10%;
}

#selfImage:hover {
  opacity: 80%;
}

/* Creates box for image in gallery */
.galleryBox {
  margin: 10px;
  background-color: paleturquoise;
  height: auto;
  overflow: auto;
}

.gallery {
  transition: 1s;
  padding: 20px;  
  margin: 5px;
  float: left;
  height: 200px; /* All images are same height, width is auto */
}

.gallery:hover {
  filter: grayscale(10%);
  transform: scale(1.1);
}

/* Styles image in gallery */
.gallery img {
  width: auto;
  height: 100%;
}

#homeImage {
  min-width: 40%;
  max-width: 50%;
  height: auto;
  border-radius: 50%;
}

.icon {
  width: 10%;
  height: 10%;
}

.sliderIcon {
  padding: 10px;
  width: 100px;
  height: 100px;
  background-image: url("/icons/sim.png") no-repeat;
}

.sliderIcon:hover {
  width:100px;
  height:100px;
  background-image: url("/icons/sim_hover.png") no-repeat;
}

